<header>
  <nav class="pl3">
    <!-- <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="/">Blog203</a> -->
    <a class="f3 f1-m f-headline-l pr3 dim" href="/">Blog203</a>
    <a class="link ph3 dim" href="posts/new">New Post</a>
    <a class="link ph3 dim" href="?tag=tech">Tech</a>
    <a class="link ph3 dim" href="#">Musings</a>
    <a class="link ph3 dim" href="#">Recipes</a>
    <a class="link fr dim" href="#">login</a>
  </nav>
</header>
