  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">
    <link rel="stylesheet" href="path/to/module/css/tachyons-debug">
  </head>
  <!--
  Type scale:
    * Use f1 - f6 for regular UI and body copy.
    * Blog title f-subheadline-ns (ns = not small => medium and large)


 -->
