<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class='debug'>
    <div class="bg-red">
      <form class="fr flex flex-column " action="/posts" method="GET">
        <span class="flex-row justify-end">
          <input class="ph1" id="body" type="text" name="body" value="" placeholder="body">
          <input class="" type="submit" name="" value="search">
        </span>
        <span class="flex">
          <input class="ph1" id="tag" type="text" name="tags" value="" placeholder="tag">
          <input class="" type="text" id="title" name="title" value="" placeholder="title"> <br>
        </span>
      </form>
    </div>
  </body>
</html>
