<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="fr flex flex-column" action="/posts" method="GET">
      <div class="pb1">
        <input type="text" name="search" value="">
        <input type="submit" name="" value="search">
      </div>
      <div class="">
          <span class="fl">Limit search to:</span>
          <span class="flex flex-column">
            <span class="ph1 fr">
              <input class="" type="radio" name="title" value="">
              <label class for="title">Title Only</label>
            </span>
            <span class="ph1 fr">
              <input class="" type="radio" name="body" value="">
              <label class for="body">Body Only</label>
            </span>
          </span>
      </div>
    </form>
  </body>
</html>
