<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <link rel="stylesheet" href="/css/search.css">
  </head>
  <body>
      <form class="fr flex flex-column" action="/posts" method="GET">
        <div class="flex">
          <input class="ph1" id="search" type="text" name="body" value="" placeholder="body">
          <input class="ph1" type="submit" name="" value="search">
        </div>
        <input class="ph1 " id="tags" type="text" name="tags" value="" placeholder="tag">
        <input class="" type="text" id="title" name="title" value="" placeholder="title">
      </form>
  </body>
</html>
