<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %>
    <% posts.forEach((post, i) => { %>
      <li><%= post.title %></li>
      <li><%= post.body %></li>
    <% }) %>
  </body>
</html>
