<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body class="pa3">
    <%- include ('../partials/header.ejs') %>
    <ul class="list">
      <% posts.forEach((post, i) => { %>
        <li class="pa3 f1 fw5"><%= post.title %></li>
        <li class="pa3"><%= post.body %></li>
      <% }) %>
    </ul>
  </body>
</html>
