<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %>
    <form class="ph5 pv3" action="/posts" method="POST">
      <label class="fw6 for="title">Title</label>
      <br>
      <input class="mb3 mt1" type="text" name="title" id="title">
      <br>
      <label class="fw6 for="body">Blog Entry</label>
      <br>
      <textarea class="mb3 mt1" name="body" id="body" rows="8" cols="80"></textarea>
      <br>
      <label class="fw6 for="image">Add An Image</label>
      <br>
      <input class="mb3" type="text" name="image" id="image">
      <br>
      <input type="checkbox" name="tech" id="tech">
      <label for="tech">Tech</label>
      <input type="checkbox" name="musings" />
      <label for="musings">Musings</label>
      <input type="checkbox" name="recipes" />
      <label for="recipes">Recipes</label>
      <br>
      <input class="mt2" type="submit" name="" value="submit">
    </form>
  </body>
</html>
